.epreuve-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 8px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 12px;
}
