<nz-layout class="app-layout">

  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/">
        <img [src]="logo" class="navbar-image" alt="logo"/>
      </a>
    </div>


    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li *ngIf="role === 'TECHNICIEN' || role === 'ADMINISTRATEUR'" nz-menu-item nzMatchRouter nz-tooltip nzTooltipPlacement="right" nzTooltipTitle="Home" [nzTooltipTrigger]="isCollapsed ? 'hover' : null">
      <a routerLink="/home">
        <span nz-icon nzType="home"></span>
        <span>Home</span>
      </a>
      </li>
      <li *ngIf="role === 'TECHNICIEN' || role === 'ADMINISTRATEUR'" nz-menu-item nzMatchRouter nz-tooltip nzTooltipPlacement="right" nzTooltipTitle="Laboratoires" [nzTooltipTrigger]="isCollapsed ? 'hover' : null">
      <a routerLink="/laboratoires">
        <span nz-icon nzType="experiment"></span>
        <span>Laboratoires</span>
      </a>
      </li>
      <li *ngIf=" role === 'ADMINISTRATEUR'"nz-menu-item nzMatchRouter nz-tooltip nzTooltipPlacement="right" nzTooltipTitle="Utilisateurs" [nzTooltipTrigger]="isCollapsed ? 'hover' : null">
      <a routerLink="/utilisateurs">
        <span nz-icon nzType="team"></span>
        <span>Utilisateurs</span>
      </a>
      </li>
      <li *ngIf="role === 'TECHNICIEN' || role === 'ADMINISTRATEUR'"nz-menu-item nzMatchRouter nz-tooltip nzTooltipPlacement="right" nzTooltipTitle="Patients" [nzTooltipTrigger]="isCollapsed ? 'hover' : null">
        <a routerLink="/patients">
          <span nz-icon nzType="medicine-box" nzTheme="outline"></span>
          <span>Patients</span>
        </a>
      </li>
    </ul>

    <!--    Gestion Utilisateur-->


  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
